{% extends "base.html" %}
{% block content %}
<img src = "/static/edu/image/profile.jpg"/>
<h2>렛츠코딩앤플레이</h2>
<button>프로필 편집</button>
<p>
    <strong>박효빈</strong><br/>
</p>
<a href="{% url 'edu:new_content'%}">새글등록<a/>
<p>
    <ul>
        {% for f in feed_list %}
        <li>{{ f.content }}</li>
        {% endfor %}
    </ul>
</p>
<p>
    <a href = "https://github.com/bbeen422/" target = "_blank">
        github.com
    </a>
<p>
    게시물<br/>
    팔로워<br/>
    팔로우<br/>
    133<br/>
    408<br/>
    189<br/>
</p>
{% endblock content %}